<head>
 

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  

</head>








<div class="row">
  <h1>Sign in</h1>
  <div class="insiderow col-md-4 col-md-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>
     
      <%= f.label :email    %><br>
      <%= f.text_field :email, class: 'form-control' %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control' %><br><br>

      <%= f.submit "Log in", class: "btn btn-primary" %>

    <% end %><br><br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
    <p>New user? <%= link_to "Sign up now!", new_user_path  %></p>
  </div>
</div>


<button id="button1" style="display:none" > Create Book</button>
<button id="button2" style="display:none"> Load Books </button>